<!DOCTYPE html>
<html>
<head>
    <title>States and Cities</title>
</head>
<body>
    <h1>States</h1>
    <ul>
        {% if not not_found %}
            {% for state in states %}
                <li>{{ state.id }}: <b>{{ state.name }}</b></li>
            {% endfor %}
            {% if state is defined %}
                <h1>State: {{ state.name }}</h1>
                <h3>Cities:</h3>
                <ul>
                    {% for city in cities %}
                        <li>{{ city.id }}: <b>{{ city.name }}</b></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
            <h1>Not found!</h1>
        {% endif %}
    </ul>
</body>
</html>

